<p-menu [model]="items" styleClass="my-sidebar"></p-menu>

<!-- <div pStyleClass="my-sidebar p-d-flex p-flex-lg-row-reverse" >
    
    <div  class="d" style=" background-color: 'red'"></div>
    <div class="b" [style.backgroundColor]="'blue'"></div>
    <div class="c" [style.backgroundColor]="'green'"></div>
    <div></div>
</div> -->
<!-- <div class="my-sidebar">
    <div class="layout-tabmenu">
        <ul>
            <li>
                <a href="/"><i class="pi-camera"></i></a>
            </li>
            <li>
                <a href="/"><i class="pi pi-check"></i></a>
            </li>
            <li>
                <a href="/"><i class="pi pi-check"></i></a>
            </li>
            <li>
                <a href="/"><i class="pi pi-check"></i></a>
            </li>
        </ul>
    </div>
</div> -->


<!-- <p-sidebar [(visible)]="display" styleClass="my-sidebar" [transitionOptions]="'0ms'"
 [modal]="false" [showCloseIcon]="false" [style]="{width:'2.5em'}" >
    <h1 style="font-weight:normal">Left</h1>
</p-sidebar> -->


<!-- <p-sidebar [(visible)]="display" [style]="{width:'2.5em'}" [transitionOptions]="'0ms'" [modal]="false" [showCloseIcon]="false">
    <h1 style="font-weight:normal">Left</h1>
</p-sidebar> -->
