::ng-deep .my-toolbar {
    /* position:fixed; */
    /* display: block; */
    background-color: blue;
    color: white;
    width: 100vw;
    padding: 0.5em;
    border: 0;
    border-radius: 0;
    /* z-index: 0; */
}

.logo {
    height: 1.5em;
}

::ng-deep .my-toolbar .p-toolbar-group-right i:not(:first-of-type){
    font-size: 1.3rem;
    margin-right: 30px;
}

::ng-deep .my-toolbar .p-toolbar-group-right i:first-of-type{
    margin-right: 10px;
}